/* Importa a fonte Yellowtail do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Define variáveis CSS para cores que podem ser reutilizadas */
:root {
    --azul: #4B0082; /* Azul escuro */
    --amarelo: #FFDEAD; /* Amarelo claro */
    --preto: #000000; /* Preto */
    --branco: #ffffff; /* Branco */
    --cinza: #c1c1c1; /* Cinza médio */
    --cinzaclaro: #DCDCDC; /* Cinza claro */
    --azulclaro: #B0C4DE; /* Azul claro */
    --verdemedio: #3CB371;
    --verdeescuro: #006400;


    --autogestao:#003366;
    --autogestao1:#0040ff;
    --fonteautogestao: #ffffff;

    --colaboracao:#28a745;
    --colaboracao1: #008000;
    --fontecolaboracao: #ffffff;
   
    --resiliencia:#D2691E;
    --resiliencia1: #A0522D;
    --fonteresiliencia: #ffffff;


    --empatia:#9370DB;
    --empatia1: #8B008B;
    --fonteempatia: #ffffff;

    --comunicacao: #1E90FF;
    --comunicacao1: #0000ff;
    --fontecomunicacao: #ffffff;

    --adaptabilidade: #FF4500;
    --adaptabilidade1:  	#F4A460;
    --fonteadaptabilidade: #ffffff;
}

/* Remove margens e preenchimentos padrão, define box-sizing como border-box para todos os elementos */
* {
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    box-sizing: border-box; /* Inclui a borda e o preenchimento no tamanho total do elemento */
}

/* Define a fonte padrão da página */
body {
    font-family: Tahoma, Geneva, Verdana, sans-serif; /* Define a fonte do corpo da página */
}

/* Estiliza o cabeçalho da página */
header {
    height: 80px; /* Altura do cabeçalho */
    background-color: var(--branco); /* Cor de fundo branca */
    color: var(--preto); /* Cor do texto preta */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: row; /* Alinha itens na horizontal */
    align-items: center; /* Alinha itens verticalmente ao centro */
    justify-content: space-around; /* Distribui itens igualmente com espaçamento */
    border-bottom: 3px solid var(--preto); /* Borda inferior preta */
}

/* Estiliza a área do título dentro do cabeçalho */
#titulo {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: row; /* Alinha itens na horizontal */
    align-items: center; /* Alinha itens verticalmente ao centro */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 10px; /* Espaçamento entre ícones e texto */
}

/* Estiliza os ícones dentro da área do título */
#titulo i {
    font-size: 50px; /* Tamanho da fonte dos ícones */
}

/* Estiliza os parágrafos dentro da área do título */
#titulo p {
    font-size: 30px; /* Tamanho da fonte dos parágrafos */
}

/* Estiliza a área de navegação */
#navegacao nav {
    display: flex; /* Usa Flexbox para layout */
    align-items: center; /* Alinha itens verticalmente ao centro */
    gap: 10px; /* Espaçamento entre os links de navegação */
}

/* Estiliza os links de navegação */
#navegacao nav a {
    color: var(--preto); /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-size: 12px; /* Tamanho da fonte dos links */
    border-top: 3px solid transparent; /* Borda superior transparente */
    border-bottom: 3px solid transparent; /* Borda inferior transparente */
    padding-top: 5px; /* Espaçamento interno superior */
    padding-bottom: 5px; /* Espaçamento interno inferior */
    transition: all 1s ease; /* Transição suave de 1 segundo */
}

/* Estiliza o estado de hover dos links de navegação */
#navegacao nav a:hover {
    border-top: 3px solid var(--preto); /* Borda superior preta no hover */
    border-bottom: 3px solid var(--preto); /* Borda inferior preta no hover */
    transform: translateY(-10px); /* Move o link para cima em 10px */
}

/* Estiliza o botão de login */
#login button {
    width: 100px; /* Largura do botão */
    height: 30px; /* Altura do botão */
    background-color: var(--branco); /* Cor de fundo branca */
    border-radius: 5px; /* Bordas arredondadas */
    transition: all 1s ease; /* Transição suave de 1 segundo */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    font-weight: 700; /* Peso da fonte em negrito */
}

/* Estiliza o estado de hover do botão de login */
#login button:hover {
    background-color: var(--preto); /* Cor de fundo preta no hover */
    color: var(--branco); /* Cor do texto branca no hover */
}

/* Estiliza a área de apresentação */
#apresentacao {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha itens na vertical */
    align-items: center; /* Alinha itens horizontalmente ao centro */
    border-bottom: 3px solid var(--preto); /* Borda inferior preta */
    padding-top: 30px; /* Espaçamento interno superior */
    opacity: 0.8; /* Opacidade reduzida */
}

/* Estiliza o estado de hover da área de apresentação */
#apresentacao:hover {
    background-color: var(--cinzaclaro); /* Fundo cinza claro no hover */
    opacity: 1; /* Opacidade total no hover */
}

/* Estiliza o título dentro da área de apresentação */
#apresentacao h1 {
    font-family: "Yellowtail", cursive; /* Fonte cursiva Yellowtail */
    font-weight: 400; /* Peso da fonte normal */
    font-style: normal; /* Estilo da fonte normal */
    font-size: 80px; /* Tamanho da fonte do título */
    text-shadow: 2px 2px 2px var(--cinza); /* Sombra do texto cinza */
    margin-bottom: 40px; /* Margem inferior do título */
}

/* Estiliza o conteúdo principal */
#conteudo {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: row; /* Alinha itens na horizontal */
    margin-left: 100px; /* Margem esquerda */
    margin-right: 100px; /* Margem direita */
}

/* Estiliza as imagens dentro da área de imagem */
#imagem img {
    height: 100%;
    transition: all 1s ease; /* Transição suave de 1 segundo */
}

/* Estiliza o estado de hover das imagens */
#imagem img:hover {
    filter: saturate(1.3); /* Aumenta a saturação da imagem */
}

/* Estiliza os parágrafos dentro da área de texto */
#texto p {
    font-size: 26px; /* Tamanho da fonte dos parágrafos */
    margin-bottom: 20px; /* Margem inferior dos parágrafos */
    transition: all 1s ease; /* Transição suave de 1 segundo */
}

/* Estiliza o estado de hover dos parágrafos */
#texto p:hover {
    transform: translateY(-10px); /* Move o parágrafo para cima em 10px */
    font-weight: 700; /* Peso da fonte em negrito */
    margin-left: 20px; /* Margem esquerda aumentada */
    margin-right: 20px; /* Margem direita aumentada */
}

/* Estiliza a área dos cards */
.cards {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha itens na vertical */
    align-items: center; /* Alinha itens horizontalmente ao centro */
    justify-content: center; /* Centraliza os itens verticalmente */
    background-color: var(--verdemedio); /* Cor de fundo branca */
    padding: 70px 30px; /* Espaçamento interno */
}

/* Estiliza o estado de hover da área dos cards */
.cards:hover {
    background-color: var(--verdeescuro); /* Fundo cinza claro no hover */
}

/* Estiliza os títulos dentro da área dos cards */
.cards h2 {
    color: var(--branco);
    font-size: 50px; /* Tamanho da fonte dos títulos */
    margin-bottom: 40px; /* Margem inferior dos títulos */
    text-shadow: 2px 2px 2px var(--cinza); /* Sombra do texto cinza */

}

/* Estiliza a área que contém os cards */
.grupo-cards {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: row; /* Alinha itens na horizontal */
    align-items: center; /* Alinha itens verticalmente ao centro */
    justify-content: space-around; /* Distribui itens igualmente com espaçamento */
    gap: 20px; /* Espaçamento entre os cards */
}

/* Estiliza cada card individualmente */
.card {
    border: 1px solid var(--cinza); /* Borda preta */
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 2px var(--cinza); /* Sombra do card cinza */
    width: 15%; /* Largura do card */
    height: 500px; /* Altura do card */
    opacity: 0.5; /* Opacidade reduzida */
    background-color: var(--branco); /* Cor de fundo branca */
    transition: all 1s ease; /* Transição suave de 1 segundo */
}

/* Estiliza o estado de hover dos cards */
.card:hover {
    opacity: 1; /* Opacidade total no hover */
    transform: translateY(-20px); /* Move o card para cima em 20px */
}

/* Estiliza as imagens dentro dos cards */
.card img {
    width: 100%; /* Largura da imagem igual à largura do card */
    height: 250px; /* Altura da imagem */
}

/* Estiliza o estado de hover das imagens dentro dos cards */
.card img:hover {
    filter: saturate(1.3); /* Aumenta a saturação da imagem */
}

/* Estiliza a área de informações dos cards */
.card-info {
    margin: 20px 10px; /* Margem interna */
}

/* Estiliza os títulos dentro dos cards */
.card h3 {
    font-size: 30px; /* Tamanho da fonte dos títulos */
    font-weight: 700; /* Peso da fonte em negrito */
    text-align: center; /* Alinha o texto ao centro */
    margin-bottom: 20px; /* Margem inferior dos títulos */
}

/* Estiliza os parágrafos dentro dos cards */
.card p {
    height: 100px; /* Altura dos parágrafos */
    font-size: 14px; /* Tamanho da fonte dos parágrafos */
}

/* Estiliza a área do botão dentro dos cards */
.card-button {
    display: flex; /* Usa Flexbox para layout */
    justify-content: center; /* Centraliza o botão horizontalmente */
}

/* Estiliza o botão dentro dos cards */
.card-button button {
    width: 150px; /* Largura do botão */
    height: 40px; /* Altura do botão */
    font-size: 16px; /* Tamanho da fonte do botão */
    font-weight: 700; /* Peso da fonte em negrito */
    background-color: var(--branco); /* Cor de fundo branca */
    border: 2px solid var(--preto); /* Borda preta */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    transition: all 1s ease; /* Transição suave de 1 segundo */
}

/* Estiliza o estado de hover do botão dentro dos cards */
.card-button button:hover {
    background-color: var(--preto); /* Cor de fundo preta no hover */
    color: var(--branco); /* Cor do texto branca no hover */
}

.competenciasocioemocional{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 400px;     
    border-top: 4px solid var(--preto);
}

.competencia-imagem{
    text-align: center;
    display:flex;
    align-items: center;
}

.competencia-imagem img{
    height: 100%;
}

.competencia-imagem img:hover{
    filter: saturate(1.3); /* Aumenta a saturação da imagem */    
}

.competencia-texto{
    padding-left: 100px;
    padding-right: 100px;;
}

.competencia-texto h2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px var(--preto);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;    
    font-size: 60px;
}

.competencia-texto h3{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 2px var(--preto);
}

.competencia-texto p{
    font-size: 18px;
    word-spacing: 5px;
    line-height: 1.5;
    margin-left:50px;
    height: 150px
}

.competencia-texto ol{
    margin-left: 70px;
    height: 200px

}

.competencia-texto ol li{
    font-size:20px;
    padding-bottom: 10px;
}

.competencia-texto ol li spam{
    font-weight: 700;
    text-shadow: 2px 2px 2px var(--preto);
}

.competencia-texto button{
    margin: 40px 0 50px 100px;
    width: 100%;
    height: 50px;
    font-size: 26px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease;
}


#autogestao {
    background: linear-gradient(to right, var(--autogestao), var(--autogestao1));
    color: var(--fonteautogestao);
    transform: all 2s ease;
}

#autogestao-botao-teste{
    background-color: var(--autogestao);
    color: var(--fonteautogestao);
    border: 2px solid var(--fonteautogestao);
    transition: all 1s ease;
}

#autogestao-botao-teste:hover{
    background-color: var(--fonteautogestao);
    color: var(--autogestao);

}


#colaboracao {
    background: linear-gradient(to right, var(--colaboracao), var(--colaboracao1));
    color: var(--fontecolaboracao);
    transform: all 2s ease;
}

#colaboracao-botao-teste{
    background-color: var(--colaboracao);
    color: var(--fontecolaboracao);
    border: 2px solid var(--fontecolaboracao);
    transition: all 1s ease;
}

#colaboracao-botao-teste:hover{
    background-color: var(--fontecolaboracao);
    color: var(--colaboracao);
}


#resiliencia {
    background: linear-gradient(to right, var(--resiliencia), var(--resiliencia1));
    color: var(--fontecolaboracao);
    transform: all 2s ease;
}

#resiliencia-botao-teste{
    background-color: var(--resiliencia);
    color: var(--fonteresiliencia);
    border: 2px solid var(--fonteresiliencia);
    transition: all 1s ease;
}

#resiliencia-botao-teste:hover{
    background-color: var(--fonteresiliencia);
    color: var(--resiliencia);
}

#empatia {
    background: linear-gradient(to right, var(--empatia), var(--empatia1));
    color: var(--fonteempatia);
    transform: all 2s ease;
}

#empatia-botao-teste{
    background-color: var(--empatia);
    color: var(--fonteempatia);
    border: 2px solid var(--fonteempatia);
    transition: all 1s ease;
}

#empatia-botao-teste:hover{
    background-color: var(--fonteempatia);
    color: var(--empatia);
}

#comunicacao {
    background: linear-gradient(to right, var(--comunicacao), var(--comunicacao1));
    color: var(--fontecomunicacao);
    transform: all 2s ease;
}

#comunicacao-botao-teste{
    background-color: var(--comunicacao);
    color: var(--fontecomunicacao);
    border: 2px solid var(--fontecomunicacao);
    transition: all 1s ease;
}

#comunicacao-botao-teste:hover{
    background-color: var(--fontecomunicacao);
    color: var(--comunicacao);
}

#adaptabilidade {
    background: linear-gradient(to right, var(--adaptabilidade), var(--adaptabilidade1));
    color: var(--fonteadaptabilidade);
    transform: all 2s ease;
}

#adaptabilidade-botao-teste{
    background-color: var(--adaptabilidade);
    color: var(--fonteadaptabilidade);
    border: 2px solid var(--fonteadaptabilidade);
    transition: all 1s ease;
}

#adaptabilidade-botao-teste:hover{
    background-color: var(--fonteadaptabilidade);
    color: var(--adaptabilidade);
}





/* Estiliza o rodapé da página */
footer {
    height: 400px; /* Altura do rodapé */
    border-top: 3px solid var(--preto); /* Borda superior preta */
    background-color: var(--preto); /* Cor de fundo preta */
    color: var(--branco); /* Cor do texto branca */
}


#topo {
    position: fixed;
    top: 50%;    /* Ajuste a distância do topo da tela conforme necessário */
    right: 10px;  /* Ajuste a distância da lateral direita da tela conforme necessário */
    z-index: 1000; /* Ajusta a sobreposição para garantir que o ícone esteja visível sobre outros elementos */
    background-color: var(--branco);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--preto);
    transition: all 0.5s ease;
}

#topo:hover{
    transform: translateY(-10px);
}

#topo a{
    color: var(--preto);
}

#topo i{
    font-size: 20px;
}






